.choice-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 0;
    padding-bottom: 20px;
}

.card {
    border: solid 1px #dcdcdc;
    box-sizing: border-box;
    width: 32.5%;
    background-color: #f4f4f4;
    padding: 10px;
}

img {
    width: 100%;
}

@media  (max-width: 700px) {
    .article {
        width: 95%;
    }

    .yellow-round {
        display: none;
    }
}

@media (max-width: 500px) {
    .card {
        width: 49%;
    }
}